
<!-- <div class="animated fadeIn">
  <div class="card-columns cols-2">
    <div class="card">
      <div class="card-header">
        Line Chart
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColours"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Bar Chart
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Doughnut Chart
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Radar Chart
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [datasets]="radarChartData"
          [labels]="radarChartLabels"
          [chartType]="radarChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Pie Chart
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Polar Area Chart
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [data]="polarAreaChartData"
          [labels]="polarAreaChartLabels"
          [legend]="polarAreaLegend"
          [chartType]="polarAreaChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="col-md-12" style="margin-top:10px;">
  <div class="col-md-9 float-left">
      <select [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)' required>
          <option [ngValue]="undefined">Daily</option>
          <option *ngFor='let option of options' [ngValue]="option">{{option}}</option>
      </select>
    <div class="" style="margin-top:10px;">
      <div [chart]="chart" style="height:250px;"></div>
    </div>
    <div class="" style="margin-top:10px;">
      <div [chart]="chartt" style="height:250px;"></div>
    </div>
</div>

  <div class="col-md-3 float-left">
      <div class="card" style="height:125px;">
        <div style="font-size:30px;text-align: center;font-weight:bold;" *ngIf="dashresult">
                    <h5 style="font-size: 1.09375rem;background: #e21a1a;color: #fff;padding: 6px 0px;">Total Savings</h5>
          {{ dashresult.results.totalSavings }}
      </div>
      </div>
      <div class="card" style="height:125px;">
        <div style="font-size:30px;text-align: center;font-weight:bold;" *ngIf="dashresult">
                    <h5 style="font-size: 1.09375rem;background: #e21a1a;color: #fff;padding:6px 0px;">Solar Energy Generation</h5>
          {{ dashresult.results.A_solarEnergyGen }}
      </div>
      </div>
      <div class="card" style="height:125px;">
        <div style="font-size:30px;text-align: center;font-weight:bold;" *ngIf="dashresult">
                    <h5 style="font-size: 1.09375rem;background: #e21a1a;color: #fff;padding: 6px 0px;">Energy Consumption by Load</h5>
          {{ dashresult.results.D_solarEnergyConByLoad }}
      </div>
      </div>
      <div class="card" style="height:125px;">
        <div style="font-size:30px;text-align: center;font-weight:bold;" *ngIf="dashresult">
                    <h5 style="font-size: 1.09375rem;background: #e21a1a;color: #fff;padding: 6px 0px;">GridEnergy Consumption by Load</h5>
          {{ dashresult.results.C_gridEnergyConByLoad }}
      </div>
      </div>
  </div>


</div>
