<!-- <h1>Hyderabad Weather Report</h1>
<h2>Temp:{{this.weather.main.temp}}</h2>
<h2>Min.Temp:{{this.weather.main.temp_min}}</h2>
<h2>Max.Temp:{{this.weather.main.temp_max}}</h2>  
<h2>Humidity:{{this.weather.main.humidity}}</h2>
<h2>Pressure:{{this.weather.main.pressure}}</h2> -->
<div class="col-md-12">
    
        <div class="" style="float:left;margin-right:20px;margin-left:15px;background: #fff;padding:6px 15px;border-radius:2px;">
          Plant ID
          <span class="badge badge-primary badge-pill" *ngIf="dashresult">
              
                {{ dashresult.results.plantID }} 
              
          </span>
        </div>
        <div class="" style="float:left;margin-right:20px;background: #fff;padding:6px 15px;border-radius:2px;">
          Capacity
          <span class="badge badge-primary badge-pill" *ngIf="dashresult">
           
                {{ dashresult.results.capacity }} 
          </span>
        </div>
    
</div>
<div class="clearfix"></div>
<div class="col-md-12 mt-3">
    <div class="col-md-4 float-left">
        <div class="card disp-cont">
            <h4 style="border-bottom:1px solid #f4f4f4;text-align: center;padding:10px 0px;">Current Power</h4>
            <span class="badge badge-primary badge-pill" *ngIf="dashresult">
                    {{ dashresult.results.inverterID }} 
                    {{ dashresult.results.A_solarEnergyGen }} 
                    {{ dashresult.results.D_solarEnergyConByLoad }}
                    {{ dashresult.results.B_solarEnergyToGrid }}
                    {{ dashresult.results.C_gridEnergyConByLoad }}
            </span>
        </div>
        
    </div>
    <div class="col-md-5 float-left">
        <div class="card disp-cont">
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>  </div>
    </div>
    <div class="col-md-3 float-left">
        <div class="card disp-cont">
            <h4 class="text-center">Hyderabad</h4>
            <div class="text-center">
                    <img style="width:60%;" src="assets/img/weather.png">
            </div>
            
            <h1 class="text-center" *ngIf="weatherr">

                            <h2>{{weatherr.main.temp}}&deg;C </h2>
                          
            </h1>
            <h1 class="text-center" *ngIf="forecast">

                <h5>{{forecast.list[1].main.temp}}&deg;C </h5>
                
            </h1>
            <h1 class="text-center" *ngIf="forecast">

                <h5>{{forecast.list[11].main.temp}}&deg;C </h5>
                
            </h1>
            <h1 class="text-center" *ngIf="forecast">

                <h5>{{forecast.list[23].main.temp}}&deg;C </h5>
                
            </h1>
            <h1 class="text-center" *ngIf="forecast">

                <h5>{{forecast.list[32].main.temp}}&deg;C </h5>
                
            </h1>
            <h1 class="text-center" *ngIf="forecast">

                <h5>{{forecast.list[39].main.temp}}&deg;C </h5>
                
            </h1>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-4 float-left">
        <div class="card disp-cont">
            <h4 style="border-bottom:1px solid #f4f4f4;text-align: center;padding:10px 0px;">Today</h4>
            <div class="mt-3">
                <div class="float-left mt-2" style="text-align: center;">
                    <img style="width:35%;" src="assets/img/dollar.png">
                </div>
                <div class="clearfix"></div>
                <div class="mt-2">
                    <div style="font-size:30px;text-align: center;font-weight:bold;" *ngIf="dashresult">
                    
                        ${{ dashresult.results.todaySavings }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 float-left">
        <div class="card disp-cont">
            <h4 style="border-bottom:1px solid #f4f4f4;text-align: center;padding:10px 0px;">CO2 Savings Total</h4>
            <div class="mt-3">
                <div class="float-left mt-2" style="text-align: center;">
                    <img style="width:25%;" src="assets/img/enviicon.png">
                </div>
                <div class="clearfix"></div>
                <div class="mt-2">
                    <div style="font-size:30px;text-align: center;font-weight:bold;" *ngIf="dashresult">
                    
                        {{ dashresult.results.CO2Savings }}Kgs
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 float-left">
        <div class="card disp-cont">
            <h4 style="border-bottom:1px solid #f4f4f4;text-align: center;padding:10px 0px;">Site Engineer Details</h4>
            <div class="mt-3">
                <div class="mt-2" style="text-align: center;">
                    <h3 style="text-align:center;">T.Phani</h3>
                </div>
                
            </div>
        </div>
    </div>
</div>